:root {
  --appBgColor: rgb(230, 203, 162);
  --appBgColorDark: rgb(68, 68, 100);
}

* {
  color: black
}

*.dark {
  color: var(--appBgColor);
}

.App {
  padding: 3%;
  background-color: var(--appBgColor);
  z-index: 0;
  text-align: center;
  position: absolute;
  top: 80px;
  width: 70%;
  opacity: 0.8;
  margin-left: 15%;
  margin-right: 15%;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

.App.dark {
  background-color: var(--appBgColorDark);
}

.top {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

.topRight {
  display: flex;
}

.topRight>span {
  margin-left: 20px;
}

.topRight>p {
  width: 100%;
}